<h2>编辑电影</h2>

<hr>

<div class="btn-group">
  <%= link_to '电影列表', movies_path, class: 'btn btn-sm btn-default' %>
  <%= link_to '电影页', @movie, class: 'btn btn-sm btn-default' %>
  <%= link_to '新增时间', new_movie_timetable_path(@movie), class: 'btn btn-sm btn-default' %>
</div>

<hr>

<%= render 'form' %>
