<h2>正在热映 <%= @movies.count %> 部</h2>
<div class="row">
<% @movies.each do |movie| %>
  <div class="col-sm-3">
    <%= link_to movie_timetables_path(movie) do %>
      <img src="<%= movie.poster %>" width="100" height="150"><br><%= movie.name %>
    <% end %>
  </div>
<% end %>
