.cinema-header {
  margin-top: 20px;
  margin-bottom: 20px;
}
.cinema-logo {
  padding: 0 10px 10px 0;
}
.cinema-name {
  margin-top: 0;
  margin-bottom: 0;
}
.cinema-info {
  padding: 15px 0 0;
  text-align: right;
}
.cinema-info p {
  margin: 0;
}
.cinema-list {
  margin-top: 20px;
}
.cinema-list .nav-tabs li {
  text-align: center;
}
.cinema-list .nav-tabs li img {
  margin-bottom: 5px;
}
.cinema-timetable td {
  vertical-align: middle !important;
  width: 33.3333%;
}
.cinema-timetable h3 {
  margin-top: 0;
}
.ctt-2 {
  text-align: center;
}
.ctt-3 {
  text-align: right;
}
