.movie-info {
  padding-top: 20px;
  padding-bottom: 20px;
}
.movie-timetables {
  padding-top: 20px;
  padding-bottom: 20px;
}
.movie-timetable tbody tr td,
.movie-comment tbody tr td {
  border-top: 0;
  border-bottom: 1px solid #ddd;
}
.movie-timetable td {
  vertical-align: middle !important;
}
.movie-timetable tbody tr.hide {
  display: none;
}
.movie-timetable-none {
  padding: 10px;
  text-align: center;
}
.no-link a,
.no-link a:active,
.no-link a:focus,
.no-link a:hover {
  text-decoration: none;
  color: #333;
}
.no-link a:active,
.no-link a:focus,
.no-link a:hover {
  background-color: #fff !important;
  border-color: #fff #fff #ddd !important;
}
.movie-rating {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 4px;
}
.movie-comment-block {
  border-top: 1px solid #ccc;
  margin-top: 20px;
  padding-top: 5px;
  padding-left: 0;
  padding-right: 0;
}
.movie-comment-block .form-group {
  margin-bottom: 8px;
}
.user-avatar {
  border-radius: 100%;
}
.comment-rating {
  margin-bottom: 4px;
  margin-left: auto;
  margin-right: auto;
}
.movie-comment-user {
  width: 200px;
}
.movie-comment-user a {
  display: block;
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.movie-comment-rating {
  width: 150px;
  text-align: center;
}
.movie-price-number {
  font-weight: bold;
  font-size: 20px;
  color: #0582ff;
}
.movie-ratings {
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  padding: 10px 0 0;
}
.movie-ratings h2 {
  margin-top: 0;
  margin-bottom: 0;
}
.movie-ratings-rating {
  width: 90px;
  height: 16px;
  display: block;
  margin: 5px 5px 8px;
}
.movie-ratings-bottom {
  display: block;
  background: #ddd;
  padding: 2px;
  font-size: 14px;
}
