.movie-info {
  padding-top: 20px;
  padding-bottom: 20px;
}
.movie-timetables {
  padding-top: 20px;
  padding-bottom: 20px;
}
.movie-timetable tbody tr:first-child td,
.movie-comment tbody tr:first-child td {
  border-top-width: 0;
}
.movie-timetable td {
  vertical-align: middle !important;
}
.no-link a,
.no-link a:active,
.no-link a:focus,
.no-link a:hover {
  text-decoration: none;
  color: #333;
}
.no-link a:active,
.no-link a:focus,
.no-link a:hover {
  background-color: #fff !important;
  border-color: #fff #fff #ddd !important;
}
.movie-rating {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 4px;
}
.movie-comment-block {
  border-top: 1px solid #ccc;
  margin-top: 20px;
  padding-top: 5px;
  padding-left: 0;
  padding-right: 0;
}
.movie-comment-block .form-group {
  margin-bottom: 8px;
}
.user-avatar {
  border-radius: 100%;
}
.comment-rating {
  margin-bottom: 4px;
}
